@import "tailwindcss";

:root {
  --bg: #f8fafc;
  --card: #ffffff;
  --text: #000;
  --muted: #0f172a;
  --border: #e2e8f0;
}

/* DARK */
.dark {
  --bg: #020617; /* page background */
  --card: #02091a; /* cards & drawers */
  --text: #f8fafc;
  --muted: #94a3b8;
  --border: #1e293b;
}

.dark .shadow-md,
.dark .shadow-lg {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);
}

/* ===================== */
/* THEME UTILITIES */
/* ===================== */

.bg-card {
  background-color: var(--card);
}

.bg-surface {
  background-color: var(--bg);
}

.text-muted {
  color: var(--muted);
}

.border-theme {
  border-color: var(--border);
}

/* ===================== */
/* GLOBAL STYLES */
/* ===================== */

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
.input {
  padding: 0.6rem 0.9rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border);
  background: var(--card);
}
